* {
  margin: 0;
  padding: 0;
  font-size: medium;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
}

#wrapper {
  display: block;
  width: 800px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #FFF;
}

#header {
  padding: 1em;
  border-bottom: 1px solid black;
  background-color: #ccf;
}

    #title {
      display: inline-block;
      padding: 0.75em;
    }

        h1 {
          font-size: x-large;
          float: left;
          vertical-align: middle;
        }

        #title-image {
          width: 100%;
          height: 100%;
        }

    nav {
      padding-top: 0.75em;
    }

    nav a {
      background-color: #333;
      color: #eee;
      padding: 0.3em;
      border-radius: 4px;
      text-decoration: none;
    }

    nav a:hover {
      color: #eee;
      background-color: #555;
    }

    nav a:visited {
      color: #eee;
    }

#content {
  padding: 1.5em;
}

#footer {
  background-color: #E9E9E9;
  font-size: small;
  border-top: 1px solid black;
  padding: 0.5em;
}

    #footer a {
      font-size: inherit;
    }

h2 {
  font-size: large;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: inside;
}

a {
  color: #4078cf;
  text-decoration: underline;
  cursor: pointer;
  transition: color .1s linear;
}

    a:visited {
      color: #9740CF;
    }

    a:hover {
      color: #CF4078;
    }

.sprites-line {
  text-align: center;
  padding-top: 1.25em;
}

    .sprites-line img + img {
      margin-left: 4em;
    }

.fader-container {
  width: calc(100% + 3em);
  padding-top: 1em;
  margin-left: -1.5em;
  margin-right: -1.5em;
}

    .fader {
      position: relative;
      width: 33.33%;
      float: left;
      height: 203px;
    }

    .fader-container .fader:nth-child(3) {
      width: auto;
      overflow: hidden;
      float: none;
    }

        .fader img {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
        }

        .fader img.active {
          z-index: 2;
        }

        .fader img.inactive {
          z-index: 1;
        }

